
#harryPotter{
    display: grid;
    background-color: lightseagreen;
  
}

h2 {
    text-align: center;
}

div:nth-child(1) {
    grid-column: 1/4;
    padding: 10px;
    font-size: 30px;
    margin: 10px;

}
div:nth-child(2){
    grid-column: 4/8;
    padding: 15px;
    font-size: 30px;
    margin: 20px;
}
div:nth-child(3){
    grid-column: 1/4;
    grid-row: 2 ;
    padding: 15px;
    font-size: 30px;
    margin: 20px; 
}
div:nth-child(4){
    grid-column: 4 / 8 ;
    grid-row: 2 ;
    padding: 15px;
    font-size: 30px;
    margin: 20px;
}    
div:nth-child(5){
    grid-column: 1 / 4 ;
    grid-row: 3 ;
    padding: 15px;
    font-size: 30px;
    margin: 20px; 
}
div:nth-child(6){
    grid-column: 4 / 8 ;
    grid-row: 3 ;
    padding: 15px;
    font-size: 30px;
    margin: 20px; 
}
div:nth-child(7){
    grid-column: 1 / 4 ;
    grid-row: 4 ;
    padding: 15px;
    font-size: 30px;
    margin: 20px; 
}
